{% extends 'base.html.twig' %}

{% block title %}Acher Kelfa{% endblock %}

{% block body %}

<section id="home">
    <div class="container">
        <row>
            <div class="position-absolute top-50 start-50">
                <h1 class="text-light mx-auto text-center">Developpeur Web et Web Mobile</h1>
                <h2 class="text-light mx-auto text-center">Kelfa Acher</h2>
            </div>
        </row>
    </div>
</section>
<section id="realisation">
    <div class="container">
        <h2 class="text-center my-5 fs-1">Realisation</h2>
        <div class="row">
            <div class="col-4 text-center">
                <h3 class="my-5 fs-2">Realisation 1</h3>
                <img src="https://via.placeholder.com/300x250" alt="">
                <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident earum vero dicta
                    consectetur nam
                    id et magnam! Eum ipsa nulla quod excepturi esse odit consequatur, in vero possimus! Libero,
                    quisquam!</p>
                <button class="btn btn-light rounded-pill">Visiter</button>
            </div>
            <div class="col-4 text-center">
                <h3 class="my-5 fs-2">Realisation 2</h3>
                <img src="https://via.placeholder.com/300x250" alt="">
                <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident earum vero dicta
                    consectetur nam
                    id et magnam! Eum ipsa nulla quod excepturi esse odit consequatur, in vero possimus! Libero,
                    quisquam!</p>
                <button class="btn btn-light rounded-pill">Visiter</button>
            </div>
            <div class="col-4 text-center">
                <h3 class="my-5 fs-2">Realisation 3</h3>
                <img src="https://via.placeholder.com/300x250" alt="">
                <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident earum vero dicta
                    consectetur nam
                    id et magnam! Eum ipsa nulla quod excepturi esse odit consequatur, in vero possimus! Libero,
                    quisquam!</p>
                <button class="btn btn-light rounded-pill">Visiter</button>
            </div>

        </div>
    </div>
</section>
<section id="competence"></section>
<section id="about"></section>
{% endblock %}